.Content {
  background: url('../img/header.jpg') 0 0 no-repeat;
  background-size: cover;
  align-items: center;
}

.CodeOfConduct-container {
  padding: 1em 2em;
  background: #03282b;
  background: rgba(3, 40, 43, 0.8);
  margin: 10px 2em;
  width: 960px;
  max-width: 100vw;
}

.CodeOfConduct-container p,
.CodeOfConduct-container ul {
  font-size: 16px;
  line-height: 1.5em;
}

.CodeOfConduct-header {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.CodeOfConduct-logo {
  width: 60px;
  height: 60px;
  background: url('../img/logo.svg');
  background-size: 60px 60px;
}

.CodeOfConduct-title {
  margin: 0;
  margin-left: 2rem;
  color: #f2dc1a;
  text-transform: uppercase;
}

.CodeOfConduct {
  max-width: 500px;
  margin: 0 auto;
}

.CodeOfConduct a {
  color: #f2dc1a;
  text-decoration: none;
}

.CodeOfConduct a:hover {
  text-decoration: underline;
}

.CodeOfConduct h1, h2, h3 {
  color: #f2dc1a;
}

.CodeOfConduct h1 {
  font-size: 2.5em;
  padding: 0.5em 0;
}

.CodeOfConduct h2 {
  text-transform: uppercase;
  font-size: 2em;
  padding: 0.25em 0;
  border-bottom: 1px solid #f2dc1a;
  display: inline-block;
}

.CodeOfConduct h3 {
  font-size: 1.5em;
}

.CodeOfConduct ul {
  list-style: initial;
  margin-left: 1em;
}
